/* Main Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: font-family: 'Kanit', sans-serif;

}

#logo {
    display: block;
    margin: auto;
    padding: 50px;
    width: 20%;
}

header {
    background: url("../img/logo.jpg");
    background-size: cover;
}

.topNav {
    padding: 10px;
    overflow: hidden;
    background: #d1d5e5;
    letter-spacing: 2px;
}

ul li {
    display: inline;
    list-style-type: none;
    font-family: font-family: 'Dosis', sans-serif;
    font-size: 22px;
}

ul {
    text-align: center;

}

a {
    text-decoration: none;
    padding: 12px;
    color: #fff;
}

iframe {
    padding: 160px;
    display: block;
    margin: auto;
}

.merch {
    padding: 40px;
    text-align: center;
    font-family: font-family: 'Dosis', sans-serif;
}

#merch {
    color: #d1d5e5;
}

.merchItems {
    width: 20%;
}

.mainSection {
    background: url("../img/bgpic.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

h3 {
    color: #d1d5e5;
    font-family: font-family: 'Dosis', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

h4 {
    font-family: font-family: 'Kanit', sans-serif;
    color: #9995C9;
    font-size: 25px;
}

.blogSection {
    float: left;
    padding: 50px;
    padding-left: 350px;
    width: 800px;
    height: 480px;
    background-color: #e2e2e2;
}

.sidebar {
    float: right;
    padding: 40px;
    width: 620px;
    height: 500px;
    background-color: #d1d5e5;
}

.blogStyles {
    height: 500px;
}

.blogImage {
    float: left;
    padding: 5px 10px;
}

p {
    padding: 10px;
}

/* Media Queries */
@media screen and (max-width: 1082px){

}

@media screen and (max-width: 1082px) and (min-width: 100px) {
    .blogSection {
        float: none;
        clear: left;
        width: 100%;
        height: 150px;
        padding: 30px 0;
    }

    .sidebar {
        float: none;
        clear: left;
        width: 100%;
        height: 150px;
        padding: 20px 0;
        height: 150px;   
    }

    iframe {
        padding: 0;
    }

    .blogImage {
        height: 100%;
        text-align: center;
    }

}